@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
.roboto-font {
  font-family: "Inter", sans-serif;
}

body{
  background-color: #0f172a;
  box-sizing: border-box;
  color: white;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    circle 700px at var(--x) var(--y),
    rgba(29, 78, 216, 0.1),
    transparent 70%
  );
  z-index: 0;
}

#nav-list span{
  position: relative;
  display: inline-block; /* width = text width */
}
#nav-list span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.6s ease;
}
#nav-list span:hover::after {
  width: 100%;
}




/* .cursor-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -100;
  background: radial-gradient(
    circle 700px at var(--x) var(--y),
    rgba(29, 78, 216, 0.10), 
    transparent 70%
  );
} */

/* 
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
